@import url("https://fonts.googleapis.com/css2?family=MonteCarlo&family=Montserrat:ital,wght@0,500;1,100&display=swap");
/* DOCUMENT.START */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
.main-header-background {
  font-weight: bolder;
  background-color: #edea28;
}
.main-header-background navbar, nav ul{
  display: flex;
  justify-content: flex-start;
  margin: 0 100px;
  align-items: center;
}
.main-header-background navbar {
  padding-top: 25px;
}
.img-header-logo {
  width: 50px;
  border-radius: 20px;
  -webkit-box-shadow: 9px -1px 50px -2px #000000; 
box-shadow: 9px -1px 50px -2px #000000;
}
.main-header-background  nav ul li {
  list-style-type: none;
}
.main-header-background  nav ul li a {
  margin-left: 15px;
  color: #000000;
  text-decoration: none;
}
.main-header-background nav ul li a:hover {
  color: rgb(255, 217, 0);
}
.contact-scroll-btn{
  width: 100px;
  height: 100%;
  position: fixed;
  right:-1;
  bottom: 3rem;
}
.contact-scroll-btn img {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 0;
  border-radius: 20px;
  -webkit-box-shadow: 9px -1px 50px -2px #000000; 
box-shadow: 9px -1px 50px -2px #000000;
}
#button-responsive img {
  width: 50px;
  height: 50px;
}
#button-responsive {
  background: none;
  border: none;
  cursor: pointer;
  display: none;
}
/* DOCUMENT.QUITE-END */
.main-background-image {
  background-image: url(../assets/imagem\ principal.jpg);
  background-size: auto;
  background-position-y: -200px;
  position: relative;
  height: 200vh;
}
.black-effect-in-main-background-image {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.795);
  width: 100%;
  top: 0;
}
.main-white-background-visible {
  margin: 50px auto;
  background-color: white;
  width: 80vw;
  padding: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
} 
.main-white-background-visible article {
  padding: 25px;
  width: 300px;
}
.main-white-background-visible-primary-section {
  background-color: rgb(255, 238, 0);
  text-align: center;
  padding: 15px;
}
.main-white-background-visible-secondary-section img {
  width: 250px;
  height: 250px;
}
.main-white-background-visible-logo-social-network {
  width: 100px;
  height: 80px;
}

@media (max-width:673px) {
    #button-responsive {
        display: block;  
    }
    .main-header-background navbar {
      justify-content: space-between;
  }
    #navbar-responsive {
      display: none;
      margin-top: 100px; /* garrancho */
      margin-left: -110px; /* garrancho */
      top: 0;
      position: absolute;
      z-index: 1;
    }
    .main-header-background nav ul li a {
      color: rgb(255, 255, 255);    
    }
}