@import url("https://fonts.googleapis.com/css2?family=MonteCarlo&family=Montserrat:ital,wght@0,500;1,100&display=swap");
/* DOCUMENT.START */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.main-header-image {
  background-image: url(../assets/imagem\ principal.jpg);
  font-weight: bolder;
  background-size: cover;
  height: 100vh;
  background-position-y: -200px;
  font-weight: bolder;
}
.effect-white-main-header-image {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.74);
  width: 100%;
  height: 100%;
  top: 0;
}
.effect-white-main-header-image  navbar, nav ul {
  display: flex;
  justify-content: flex-start;
  margin: 0 100px;
  align-items: center;
}
.effect-white-main-header-image navbar {
  padding-top: 25px;
}
.img-header-logo {
  width: 50px;
  border-radius: 20px;
  -webkit-box-shadow: 9px -1px 50px -2px #000000; 
box-shadow: 9px -1px 50px -2px #000000;
}
.effect-white-main-header-image  nav ul li {
  list-style-type: none;
}
.effect-white-main-header-image  nav ul li a {
  margin-left: 15px;
  color: #000000;
  text-decoration: none;
}
.effect-white-main-header-image nav ul li a:hover {
  color: rgb(255, 217, 0);
}
.effect-white-main-header-image main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}
.effect-white-main-header-image main article h1 {
  font-size: 80px;
  text-align: center;
  color: #000000;
  padding-left: 100px;
  font-family: 'MonteCarlo', cursive;
}
.effect-white-main-header-image article h1 span {
  color: rgb(250, 196, 18);
  font-size: 120px;
  font-family: 'MonteCarlo', cursive;
}
.header-flex-form {
  background-color: #000000b7;
  margin-right: 75px;
  margin-top: 25px;
  padding: 30px;
  -webkit-box-shadow: 5px 5px 0px 0px #c9ed28, 10px 10px 0px 0px #ffda5f,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 5px 5px 0px 0px #edea28, 10px 10px 0px 0px #fcff5f,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.header-flex-form h3 {
  margin-bottom: 25px;
  text-align: center;
}
.header-flex-form p {
  font-weight: 800;
}
.header-flex-form input {
  display: block;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
}
.header-flex-form button {
  padding: 15px;
  background-color: rgb(255, 230, 0);
  width: 100%;
  cursor: pointer;
}
.contact-scroll-btn{
  width: 100px;
  height: 100%;
  position: fixed;
  right:-1;
  bottom: 3rem;
}
.contact-scroll-btn img {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 0;
  border-radius: 20px;
  -webkit-box-shadow: 9px -1px 50px -2px #000000; 
box-shadow: 9px -1px 50px -2px #000000;
}
/* DOCUMENT.QUITE */
.pre-session-h1 {
  text-align: center;
  margin: 50px 0;
}
.section-our-services {
  display: flex;
  justify-content: center;
}
.section-our-services article {
  padding: 25px;
  width: 300px;
}
.section-our-services ul li {
  list-style-type: square;
}
.primary-section-section-our-services {
  background-color: rgb(255, 238, 0);
  text-align: center;
  padding: 15px;
}
.secondary-section-section-our-services {
  background-color: rgba(255, 238, 0, 0.5);
  text-align: center;
  padding: 40px;
}
/*DOCUMENT.END */
#footer-session {
  background-color: rgb(255, 238, 0);
}
#footer-session > h1 {
  padding: 50px;
  text-align: center;
}
#footer-session p {
  line-height: 25px;
  letter-spacing: 1px;
  padding-top: 10px;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 25px;
}

